BOOTPROTO=dhcpDEVICE={{ ansible_default_ipv4.interface }}HWADDR={{ ansible_default_ipv4.macaddress }}ONBOOT=yesTYPE=EthernetPROXY_METHOD=noneBROWSER_ONLY=noDEFROUTE=yesIPV4_FAILURE_FATAL=noIPV6INIT=noNAME="System enp24s0f0"UUID=598803a9-0321-e546-3f05-d7105202853dZONE=external